// vars =================================================
$text-color: #1E1E1E;
$accent-color:#fcad63;
$dark-color: #2D2424;
$done-color: #17B814;
$delete-color: #DA3131;

// reset =================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
body, html {
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #191b2e;
}


// INPUT ======================================================
input[type="checkbox"]{
    appearance: none;
    cursor: pointer;
    margin: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]::after {
    font-family: 'Font Awesome 6 Free';
    content: "\f00c";
    font-weight: 600;
    font-size: 22px;
    color: $done-color;
    display: none;
}
input[type="checkbox"]:hover {
    border-color: $done-color;
}
input[type="checkbox"]:checked {
    border-color: $done-color;
}

input[type="checkbox"]:checked:hover {
    border-color: $dark-color;
}
input[type="checkbox"]:checked::after {
    display: block;
}


// mixins ================================================================
@mixin btn-hover{
    background: {
        image: linear-gradient(45deg, $dark-color 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }
    transition: background 500ms ease-in-out, color 500ms ease-in-out ;
}


// global ===============================================================
.container {
    max-width: 1230px;
    padding: 50px 15px;
    margin: 0 auto;
}

.hidden {
    display: none;
}
// TODO HEAD ========================================================

.toDo-tasks, .toDo-head  {
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(198, 198, 198, 0.36);
    border-radius: 10px;
}


.toDo-head {
    margin-bottom: 50px;
}

.toDo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $dark-color;
    span {
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        white-space: nowrap;
    }
    i {
        font-size: 32px;
    }
}


form {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}
.form {
    &-input {
        display: inline-block;
        padding: 12px 15px;
        width: 100%;
        display: block;
        border: 1px solid $dark-color; 
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        border-radius: 10px;
        color: #959595;
        font-size: 18px;

    }
    &-btn {
        background: $accent-color;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        border: none;
        padding: 12px 40px;
        white-space: nowrap;
        cursor: pointer;
        @include btn-hover();
          
        &:hover {
            background-position: 0;
        }
    }
}

.sorting-buttons{
    display: flex;
    gap: 15px;
    .sorting-btn {
        background: transparent;
        border: 1px solid $dark-color;
        border-radius: 10px;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        color: $dark-color;
        font-family: inherit;
        width: 106px;
        height: 42px;
        text-align: center;
        cursor: pointer;
        @include btn-hover();
          
        &:hover {
            background-position: 0;
            color: #fff;
        }

        &.active {
            background-color: $dark-color;
            color: #ffffff;
        }
    }
}


// TODO TASKS ========================================================
.toDo-tasks {
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(198, 198, 198, 0.36);
    border-radius: 10px;
    min-height: 200px;
    .title-tasks {
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        color: $dark-color;
        margin-bottom: 20px;
    }
}


.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-item {
        background: #FFFFFF;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        &.active {
            input[type="text"] {
                color: #9b9a9a;
                text-decoration: line-through;
            }
        }
    }

    &-empty {
        padding: 20px 0;
        color: $accent-color;
        font-size: 30px;
        span {
            font-weight: 700;
        }
    }

    &-text {
        padding:10px;
        width: 100%;
        padding: 0 5px;
        border: none;
        outline: none;
        font-size: 20px;
        color: $text-color;
    }

    &-buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        max-width: 150px;
        align-items: center;
    }

    &-btn {
        background: transparent;
        border: none;
        width: 40px;
        height: 40px;
        padding: 2px;
        font-size: 26px;
        cursor: pointer;
        transition: color .3s ease-in-out;

        i {
            pointer-events: none;
        }

        &:first-child {
            padding: 0px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #515151;
            padding: 9px 6px;
            &:hover {
                color: $accent-color;
            }
        }
        
        &:last-child {
            color: $delete-color;
            &:hover {
                color: #f8c6c6;
            }
        }

        &:nth-child(2) {
            color: $accent-color;
            &:hover {
                color: #f3d5b8;
            }
        }
    }
}

.clearAll-btn {
    margin-top:30px;
    display: inline-block;
    background: transparent;
    border: 1px solid $dark-color;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: $dark-color;
    font-family: inherit;
    text-align: center;
    padding: 20px 40px;
    cursor: pointer;
    @include btn-hover();
        
    &:hover {
        background-position: 0;
        color: #fff;
    }
}


// MEDIA =====================================================
@media(max-width: 1040px){
    // header
    .toDo-box {
        flex-direction: column;
        align-items: flex-start;
    }

    form {
        width: 85%;
    }
    .tasks__list-text {
        font-size: 18px;
    }
}



@media(max-width: 768px){
    .toDo-head, .toDo-tasks {
        padding: 30px 20px;
    }
    form {
        flex-direction: column;
        width: 100%;
    }

    .form {
        &-input {
            width: auto;
        }
        &-btn {
            width: 100%;
        }
    }

    .tasks__list-text {
        font-size: 16px;
    }

}



@media(max-width: 576px){
    .logo {
        span {
            font-size: 48px;
        }
    }

    .tasks__list-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 20px 10px;
    }

    .tasks__list-empty {
        padding: 10px 0;
        font-size: 24px;
    }
    .tasks__list-buttons{
        max-width: none;
        width: 100%;
        justify-content: flex-end;

    }
    .tasks__list-btn {
        width: 35px;
        height: 35px;
        font-size: 25px;
        padding: 0;
    }

    input[type="checkbox"]  {
        width: 35px;
        height: 35px;
    }
    .tasks__list-text {
        font-size: 14px;
    }
}

@media(max-width: 320px){
    .container {
        padding: 30px 0;
    }
    .logo {
        span {
            font-size: 40px;
        }
    }
    .toDo-head, .toDo-tasks {
        padding: 30px 10px;
    }

    .toDo-box {
        gap: 10px;
    }
    .form {
        &-input {
            padding: 12px 10px;
        }
        &-btn {
            font-size: 16px;
        }
    }

}